.app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(240, 78%, 98%);
  position: relative;
  padding: 50px 0;
}

.heading {
  color: hsl(233, 13%, 49%);
  margin-bottom: 30px;
  z-index: 99;
}

.pricingList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.bg-top {
  position: absolute;
  top: 0;
  right: 0;
}

.bg-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}
